# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

In [30]:
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# Initializing Chrome driver with the service and options objects
s=Service("chromedriver.exe")
options = Options()
options.add_argument('--disable-extensions')
options.add_argument('--headless')
options.add_argument('--disable-gpu')
options.add_argument('--no-sandbox')
driver = webdriver.Chrome(service=s, options=options)

# Opening Wikipedia webpage
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

# Waiting for the table to load
table = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CSS_SELECTOR, ".wikitable.sortable.jquery-tablesorter")))

# Empty lists for scraping data
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

# Extracting Rank Via X path
rank = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)

# Extracting Name Via X path
name = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in name:
    Name.append(i.text)

# Extracting Artist Name Via Xpath
artist = driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in artist:
    Artist.append(i.text)

# Extracting Upload date Via Xpath
upload_date = driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in upload_date:
    Upload_date.append(i.text)

# Extracting Views via Xpath
views = driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in views:
    Views.append(i.text)

# Creating the DataFrame

Wiki_YT=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Views (in Billons)':Views,'Upload Date':Upload_date})
df = pd.DataFrame(Wiki_YT)

In [31]:
df

,Rank,Video Name,Uploader,Views (in Billons),Upload Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.37,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.09,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.63,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.03,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.92,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.79,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.17,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,4.95,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.84,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.83,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.70,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.53,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.24,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.82,"January 14, 2015"
14,15.,"""Axel F""[35]",Crazy Frog,3.76,"June 16, 2009"
15,16.,"""Roar""[36]",Katy Perry,3.73,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.73,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.63,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.55,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.51,"June 25, 2018"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.48,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.45,"February 20, 2014"
22,23.,"""Faded""[43]",Alan Walker,3.41,"December 3, 2015"
23,24.,"""Let Her Go""[44]",Passenger,3.38,"July 25, 2012"
24,25.,"""Girls Like You""[45]",Maroon 5,3.37,"May 31, 2018"
25,26.,"""Perfect""[46]",Ed Sheeran,3.37,"November 9, 2017"
26,27.,"""Bailando""[47]",Enrique Iglesias,3.34,"April 11, 2014"
27,28.,"""Lean On""[48]",Major Lazer,3.33,"March 22, 2015"
28,29.,"""Lakdi Ki Kathi""[49]",Jingle Toons,3.32,"June 14, 2018"
29,30.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.31,"January 26, 2018"

# 2)  Scrape the details team India’s international fixtures from bcci.tv.

In [7]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import pandas as pd

In [8]:
url = 'https://www.bcci.tv'
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()
driver.get(url)

In [9]:
match_title=[]
series=[]
place=[]
date=[]
m_time=[]

time.sleep(3)

In [10]:
nav=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a').click()

In [11]:
match_title = []
series = []
place = []
date = []
m_time = []

# extract title tags
title_tag = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in title_tag:
    match_title.append(i.text)

# extract series tags
series_tag = driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in series_tag:
    s_tag = i.text.split('-')
    series.append(s_tag[0])

# extract place tags
place_tag = driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in place_tag:
    p_tag = i.text.split('-')
    place.append(p_tag[1])

# extract date tags
date_tag = driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date_tag:
    date.append(i.text)

# extract time tags
time_tag = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time_tag:
    m_time.append(i.text)

In [12]:
international_fixtures=pd.DataFrame({'Match Title':match_title,'Series':series,'Place':place,'Date':date,'Time':m_time})

In [13]:
international_fixtures

Empty DataFrame
Columns: [Match Title, Series, Place, Date, Time]
Index: []

// No fixtures were listed on the day the code was compiled. (26-Mar-2023)

# 3) Scrape the details of State-wise GDP of India from statisticstime.com.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome("chromedriver.exe")

In [3]:
url=driver.get('https://statisticstimes.com/index.php')

In [4]:
eco=driver.find_element(By.XPATH, "/html/body/div[2]/div[1]/div[2]/div[2]/button").click()

In [5]:
ind=driver.find_element(By.XPATH, "//html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]").click()

In [6]:
st=driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

In [7]:
Rank =[]
State =[]
GDSP_19_20=[]
GDSP_18_19 =[]
Share =[]
GDP =[]

In [8]:
# Extracting Rank via Xpath
try:
    rank = driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')

# Extracting state name via Xpath
try:
    state = driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')

# Extracting GDSP 19-20 via Xpath
try:
    gdsp_19_20 = driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gdsp_19_20:
        GDSP_19_20.append(i.text)
except NoSuchElementException:
    GDSP_19_20.append('NA')

# Extracting GDSP 18-19 via Xpath
try:
    gdsp_18_19 = driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_18_19:
        GDSP_18_19.append(i.text)
except NoSuchElementException:
    GDSP_18_19.append('NA')

# Extracting share in billons via Xpath
try:
    share = driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')

# Extracting GDP via Xpath
try:
    gdp = driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [9]:
sgdp=pd.DataFrame({'Rank':Rank,'State':State,'GDSP 19-20':GDSP_19_20,'GDSP 18-19':GDSP_18_19,
                            'Share':Share,'GDP (in Billions)':GDP})

In [10]:
sgdp

,Rank,State,GDSP 19-20,GDSP 18-19,Share,GDP (in Billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 4. Scrape the details of trending repositories on Github.com

In [17]:
driver=webdriver.Chrome("chromedriver.exe")

In [18]:
url=driver.get('https://github.com/')

In [19]:
os=driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button").click()

In [20]:
tr=driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a").click()

In [21]:
Repository_Name =[]
Language=[]
Muted_Link=[]

In [22]:
Repository_Name = []
RN = driver.find_elements(By.XPATH, "//span[@class='text-normal']")
for i in RN:
    if i.text is None:
        Repository_Name.append("--")
    else:
        Repository_Name.append(i.text)
print(Repository_Name)

['microsoft /', 'ggerganov /', 'oobabooga /', 'sindresorhus /', 'yetone /', 'wong2 /', 'caesarHQ /', 'EbookFoundation /', 'public-apis /', 'ggerganov /', 'davinci1012 /', 'GanymedeNil /', 'camenduru /', 'ann-afame /', 'web-infra-dev /', 'kamranahmedse /', 'randaller /', 'neovim /', 'IHP-GmbH /', 'butaixianran /', 'guillaumekln /', 'pkuliyi2015 /', 'geohot /', 'getaurora /', 'Azure-Samples /']

In [23]:
Description = []
des = driver.find_elements(By.XPATH, "//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in des:
    if i.text == "":
        Description.append("--")
    else:
        Description.append(i.text)
print(Description)

['Official repo for the paper: Visual ChatGPT: Talking, Drawing and Editing with Visual Foundation Models', "Port of OpenAI's Whisper model in C/C++", 'A gradio web UI for running Large Language Models like GPT-J 6B, OPT, GALACTICA, LLaMA, and Pygmalion.', '😎 Awesome lists about all kinds of interesting topics', '基于 ChatGPT API 的划词翻译浏览器插件和跨平台桌面端应用 - Browser extension and cross-platform desktop application for translation based on ChatGPT API.', 'A browser extension that enhance search engines with ChatGPT', '📚 Freely available programming books', 'A collective list of free APIs', "Port of Facebook's LLaMA model in C/C++", 'Samples and Unpacker of malicious backdoors and exploits developed and used by Pinduoduo', '基于向量数据库与GPT3.5的通用本地知识库方案(A universal local knowledge base solution based on vector database and GPT3.5)', 'stable diffusion webui colab', 'A fast Rust-based web bundler 🦀️', 'Interactive roadmaps, guides and other educational content to help developers grow in their careers.', "Chat with Meta's LLaMA models at home made easy", 'Vim-fork focused on extensibility and usability', '130nm BiCMOS Open Source PDK, dedicated for Analog, Mixed Signal and RF Design', 'Stable Diffusion Webui Extension for Civitai, to manage your model much more easily.', 'Faster Whisper transcription with CTranslate2', 'MultiDiffusion implementation with VAE VRAM optimize', 'You like pytorch? You like micrograd? You love tinygrad! ❤️', '极光官方版本下载页 翻墙 代理 科学上网 外网 加速器 梯子 路由', 'Demonstration of how to leverage Azure OpenAI and Cognitive Search to enable Information Search and Discovery over organizational content']

In [24]:
Language = []
L = driver.find_elements(By.XPATH, "//span[@itemprop='programmingLanguage']")
for i in L:
    if i.text == "":
        Language.append("NAN")
    else:
        Language.append(i.text)
print(Language)

['Python', 'C', 'Python', 'TypeScript', 'TypeScript', 'JavaScript', 'Python', 'C', 'Java', 'Python', 'Jupyter Notebook', 'Rust', 'Astro', 'Python', 'Vim Script', 'HTML', 'Python', 'Python', 'Python', 'Python', 'Python']

In [25]:
Muted_Link = []
ml = driver.find_elements(By.XPATH, "//a[@class='Link--muted d-inline-block mr-3']")
for i in ml:
    if i.text == "":
        Muted_Link.append("NAN")
    else:
        Muted_Link.append(i.text)
print(Muted_Link)

['13,438', '931', '9,989', '729', '2,140', '174', '243,247', '25,167', '6,783', '401', '11,686', '1,154', '377', '42', '270,364', '54,184', '230,573', '26,267', '2,637', '126', '307', '147', '873', '65', '3,696', '566', '2,008', '1,309', '2,505', '94', '232,674', '33,167', '105', '22', '63,340', '4,484', '103', '9', '210', '16', '354', '29', '180', '11', '10,757', '979', '784', '109', '152', '37']

In [26]:
Trending_Repository=pd.DataFrame([])
Trending_Repository['Name']=Repository_Name[:21]
Trending_Repository['Description']=Description[:21]
Trending_Repository['Language']=Language[:21]
Trending_Repository['Contributed By']=Muted_Link[:21]

In [27]:
Trending_Repository

,Name,Description,Language,Contributed By
0,microsoft /,Official repo for the paper: Visual ChatGPT: T...,Python,"13,438"
1,ggerganov /,Port of OpenAI's Whisper model in C/C++,C,931
2,oobabooga /,A gradio web UI for running Large Language Mod...,Python,"9,989"
3,sindresorhus /,😎 Awesome lists about all kinds of interesting...,TypeScript,729
4,yetone /,基于 ChatGPT API 的划词翻译浏览器插件和跨平台桌面端应用 - Browser e...,TypeScript,"2,140"
5,wong2 /,A browser extension that enhance search engine...,JavaScript,174
6,caesarHQ /,📚 Freely available programming books,Python,"243,247"
7,EbookFoundation /,A collective list of free APIs,C,"25,167"
8,public-apis /,Port of Facebook's LLaMA model in C/C++,Java,"6,783"
9,ggerganov /,Samples and Unpacker of malicious backdoors an...,Python,401
10,davinci1012 /,基于向量数据库与GPT3.5的通用本地知识库方案(A universal local kno...,Jupyter Notebook,"11,686"
11,GanymedeNil /,stable diffusion webui colab,Rust,"1,154"
12,camenduru /,A fast Rust-based web bundler 🦀️,Astro,377
13,ann-afame /,"Interactive roadmaps, guides and other educati...",Python,42
14,web-infra-dev /,Chat with Meta's LLaMA models at home made easy,Vim Script,"270,364"
15,kamranahmedse /,Vim-fork focused on extensibility and usability,HTML,"54,184"
16,randaller /,"130nm BiCMOS Open Source PDK, dedicated for An...",Python,"230,573"
17,neovim /,"Stable Diffusion Webui Extension for Civitai, ...",Python,"26,267"
18,IHP-GmbH /,Faster Whisper transcription with CTranslate2,Python,"2,637"
19,butaixianran /,MultiDiffusion implementation with VAE VRAM op...,Python,126
20,guillaumekln /,You like pytorch? You like micrograd? You love...,Python,307

# 5) Scrape the details of top 100 songs on billiboard.com.

In [79]:
driver=webdriver.Chrome("chromedriver.exe")

In [80]:
url='https://www.billboard.com'
driver.get(url)
time.sleep(2)

In [81]:
nav=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
nav.click()

In [83]:
hot=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
hot.click()

In [84]:
Name=[]
Artist=[]
rank=[]

In [85]:
#Scraping name
Name_tag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
for i in Name_tag:
    Name.append(i.text)

#Scraping artist
Artist_tag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
for i in Artist_tag:
    Artist.append(i.text)

#Scraping rank
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
for i in rankTag[:3]:
    rank.append(i.text )
    
#Scraping name
Rank=[]
nameTag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in nameTag:
    Name.append(i.text )

#Scraping artist
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artistTag:
    Artist.append(i.text )

#Scraping rank
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in RankTag:
    Rank.append(i.text)
    
    
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [86]:
# slicing Data
last_week_rank=Rank[0::3]
last_week_rank.insert(0,rank[0])
peak_rank=Rank[1::3]
peak_rank.insert(0,rank[1])
weeks_on_board=Rank[2::3]
weeks_on_board.insert(0,rank[2])

In [87]:
# Create Dataframe
songs_top=pd.DataFrame({"Name":Name[:100],"Artist":Artist[:100],"Last Week Rank":last_week_rank[0:100],"Peak Rank":peak_rank[0:100],"Weeks On Board":weeks_on_board[0:100]})
songs_top

,Name,Artist,Last Week Rank,Peak Rank,Weeks On Board
0,Last Night,Morgan Wallen,5,1,6
1,Flowers,Miley Cyrus,2,1,8
2,Kill Bill,SZA,3,2,13
3,Die For You,The Weeknd & Ariana Grande,1,1,32
4,"Boy's A Liar, Pt. 2",PinkPantheress & Ice Spice,4,3,5
...,...,...,...,...,...
95,Nonsense,Sabrina Carpenter,56,56,3
96,AMG,"Gabito Ballesteros, Peso Pluma & Natanael Cano",,,
97,Lift Me Up,Rihanna,55,55,10
98,You Didn't,Brett Young,,,
99,10:35,Tiesto Featuring Tate McRae,67,67,7

# 6) Scrape the details of Highest sellingnovels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare

In [46]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [47]:
driver=webdriver.Chrome("chromedriver.exe")

In [48]:
url=driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [49]:
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

In [50]:
# Scraping Books via Xpath
try:
    books = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for book in books:
        Book.append(book.text)
except NoSuchElementException:
    Book.append('NA')
    
# Scraping Book author's via Xpath
try:
    authors = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for author in authors:
        Author.append(author.text)
except NoSuchElementException:
    Author.append('NA')
    
# Scraping Volumes sold via Xpath
try:
    volumes_sold = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for volume in volumes_sold:
        Volumes_sold.append(volume.text)
except NoSuchElementException:
    Volumes_sold.append('NA')
    
# Scraping publisher via xPath
try:
    publishers = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for publisher in publishers:
        Publisher.append(publisher.text)
except NoSuchElementException:
    Publisher.append('NA')
    
# Scraping Genre via Xpath
try:
    genres = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for genre in genres:
        Genre.append(genre.text)
except NoSuchElementException:
    Genre.append('NA')

In [51]:
Top_Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})

In [52]:
Top_Books

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7) Scrape the details most watched tv series of all time from imdb.com.  Url = https://www.imdb.com/list/ls095964455/

In [53]:
driver=webdriver.Chrome("chromedriver.exe")

In [54]:
url=driver.get('https://www.imdb.com/list/ls095964455/')

In [55]:
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [56]:
try:
    names = driver.find_elements(By.XPATH, "//h3[@class='lister-item-header']/a")
    for name in names:
        Name.append(name.text)
except NoSuchElementException:
    Name.append('NA')

# Scraping Year span via Xpath
try:
    years = driver.find_elements(By.XPATH, "//h3[@class='lister-item-header']/span[2]")
    for year in years:
        Year_Span.append(year.text)
except NoSuchElementException:
    Year_Span.append('NA')
    
# Scraping Genre via Xpath
try:
    genres = driver.find_elements(By.XPATH, "//span[@class='genre']")
    for genre in genres:
        Genre.append(genre.text)
except NoSuchElementException:
    Genre.append('NA')
    
# Scraping RunTime via Xpath
try:
    runtimes = driver.find_elements(By.XPATH, "//span[@class='runtime']")
    for runtime in runtimes:
        Run_Time.append(runtime.text)
except NoSuchElementException:
    Run_Time.append('NA')

# Scraping Ratings via Xpath
try:
    ratings = driver.find_elements(By.XPATH, "//div[@class='ipl-rating-star small']/span[2]")
    for rating in ratings:
        Ratings.append(rating.text)
except NoSuchElementException:
    Ratings.append('NA')

# Scraping Votes via Xpath
try:
    votes = driver.find_elements(By.XPATH, "//span[@name='nv']")
    for vote in votes:
        Votes.append(vote.text)
except NoSuchElementException:
    Votes.append('NA')

In [57]:
imdb=pd.DataFrame({"Name":Name,
                "Year Span":Year_Span,
                "Genre":Genre,
                "Run Time":Run_Time,
                "Ratings":Ratings,
                "Votes":Votes})

In [58]:
imdb

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,138,618"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,223,488"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,015,283"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"299,061"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"257,919"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,025"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,033"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"204,974"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"42,478"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"253,636"

# 8) Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/

In [59]:
driver=webdriver.Chrome("chromedriver.exe")

In [60]:
url=driver.get('https://archive.ics.uci.edu/ml/index.php')

In [61]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

dataset = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "//a[@href='datasets.php']")))
dataset.click()
time.sleep(1)

In [62]:
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]

In [63]:
from tqdm import tqdm

import time

# Scraping Dataset via Xpath
try:
    dataset = driver.find_elements(By.XPATH, "//p[@class='normal']/b/a")
    for i in tqdm(dataset):
        Dataset.append(i.text)
        time.sleep(0.15)
except NoSuchElementException:
    Dataset.append('NA')
    
# Scraping Data Type via Xpath
try:
    data_type = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in data_type[1:]:
        Data_Type.append(i.text)
except NoSuchElementException:
    Data_Type.append('NA')
    
# Scraping Task via Xpath
try:
    task = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('NA')
    
# Scraping Attribute_Type via Xpath
try:
    attribute_type = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute_type[1:]:
        Attribute_Type.append(i.text)
except NoSuchElementException:
    Attribute_Type.append('NA')

# Scraping No_of_Instances via Xpath
try:
    no_of_Instances = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no_of_Instances[1:]:
        No_of_Instances.append(i.text)
except NoSuchElementException:
    No_of_Instances.append('NA')

# Scraping No_of_Attribute via Xpath
try:
    no_of_Attribute = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no_of_Attribute[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('NA')

# Scraping Year via Xpath
try:
    year = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('NA')

100%|██████████| 622/622 [02:05<00:00,  4.96it/s]

In [64]:
uci=pd.DataFrame({'DataSet Title':Dataset,
                'Data Type':Data_Type,
                'Task':Task,
                'Attribute Type':Attribute_Type,
                'No of Instances':No_of_Instances,
                'No of Attribute':No_of_Attribute,
                'Year':Year})

In [65]:
uci

,DataSet Title,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

# 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants

In [66]:
driver=webdriver.Chrome("chromedriver.exe")

In [67]:
url=driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [68]:
designation=driver.find_element(By.CLASS_NAME, "sugInp")
designation.send_keys('Data Science')

In [69]:
search=driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search.click()

In [70]:
Name =[]
Designation =[]
Company =[]
Skill =[]
Location =[]

In [71]:
# Scraping Name
try:
    name = driver.find_elements(By.XPATH, '//a[@class="ellipsis"]/span')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

# Scraping Designation
try:
    designation = driver.find_elements(By.XPATH, '//p[@class="highlightable"]/span[1]')
    for i in designation:
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append('NA')

# Scraping Company
try:
    company = driver.find_elements(By.XPATH, '//a[@class="ellipsis"][2]')
    for i in company:
        Company.append(i.text)
except NoSuchElementException:
    Company.append('NA')

# Scraping skill for they hire
try:
    skill = driver.find_elements(By.XPATH, '//div[@class="hireSec highlightable"]')
    for i in skill:
        Skill.append(i.text)
except NoSuchElementException:
    Skill.append('NA')

# Scraping Song Artist Name
try:
    location = driver.find_elements(By.XPATH, '//p[@class="highlightable"]/span[2]/small')
    if location:
        for i in location:
            Location.append(i.text)
    else:
        Location.append('NA')
except NoSuchElementException:
    Location.append('NA')

In [72]:
Naukri=pd.DataFrame({})
Naukri['Name']=Name[:49]
Naukri['Designation']=Designation[:49]
Naukri['Company']=Company[:49]
Naukri['Skills I Hire for']=Skill[:49]
Naukri['Location']=Location[:49]

In [73]:
Naukri

,Name,Designation,Company,Skills I Hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Mysoru / Mysore
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai